Total servings:&nbsp;<%= @servings %>
<table>
   <tr>
      <th>Name</th>
      <th>Total Per Serving</th>
      <th>Unit</th>
   </tr>

   <%= for nutrient <- @results do %>
      <tr>
         <td><%= nutrient["name"] %></td>
         <td><%= nutrient["total"] %></td>
         <td><%= nutrient["unit"] %></td>
      </tr>
   <% end %>
</table>
