Total servings:&nbsp;<%= @servings %>
<table>
   <tr>
      <th align="right">Nutrient</th>
      <th align="left">Amount Per Serving</th>
      <th align="left">Unit</th>
   </tr>

   <%= for nutrient <- @results do %>
      <tr>
         <td align="right"><%= nutrient["name"] %></td>
         <td align="left"><%= nutrient["total"] %></td>
         <td align="left"><%= nutrient["unit"] %></td>
      </tr>
   <% end %>
</table>
