<center><h2>About Us</h2></center>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="left">We are three master students of cal poly pomona University, and this website is our advanced software engineering project and our aim is to provide you with the detailed information data that you have in your food. It is similar to the nutrition facts that comes on food boxes.</td>
<td width="50%" align="left"><img src="/images/pic2.png" alt="Smiley face" height="400" width="230" border="5"></td>
</tr>
</table>