<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" title="screen stylesheet" type="text/css" media="screen" href="style.css" />
<title>Your Home Page</title>
</head>
<body>


<div id="contain">

<div class="title">
A Nutrition Guid: Know What you eat
<br></div>

<div class="menu">
<a href="http://localhost:4000/measures">Measures</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://localhost:4000/search">Search</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://localhost:4000/about">about us</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://localhost:4000/contact">contact</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://localhost:4000">Homepage</a>
</div>
<div class="bouquet">
<div class="hollyhack">
<center><h2>About Us</h2></center>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="left">We are three master students of cal poly pomona University, and this website is our advanced software engineering project and our aim is to provide you with the detailed information data that you have in your food. It is similar to the nutrition facts that comes on food boxes.</td>
<td width="50%" align="left"><img src="/images/pic2.png" alt="Smiley face" height="400" width="230" border="5"></td>
</tr>
</table>

</div>

</div>

<div class="footer">
© Cal Poly Pomona University
<!-- Designed by DreamTemplate. Please leave link unmodified. -->
<br><br><a href="http://www.dreamtemplate.com" title="Website Templates" target="_blank"><small>Website templates</small></a>

</div>

</div>

</body>
</html>