<center><h2>About Us</h2></center>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="left">We are three graduate students at Cal Poly Pomona University, and this website is our Advanced Software Engineering class project. Our aim is to provide you with detailed information about your homemade food. It is similar to the nutrition facts on food labels.</td>
<td width="50%" align="left"><img src="/images/pic2.png" alt="Smiley face" height="400" width="230" border="5"></td>
</tr>
</table>