<h3>Your LifeStyle</h3>
People around the world spend a lot of time and money to take care of thier health, skin, and hair. In addition, food is our primary resource for better health
and for improving our health which is not just restricited to medicines, instead we have to avoid the medicines because of thier effect. As matter of fact, a good healthy diet can
really make a huge differnce in people health and Know what you eat website can provide you with the detailed nutrution information about the food you eat, helping
people to prevent or even cure diseases. <br />
<br />
<img src="/images/pic2.jpg" alt="Smiley face" height="250" " width="500" border="5">